<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avada Driving School</title>

     <!-- Fontawesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

     <!-- Bootstrap -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
 
    <!-- app.css -->
    <link rel="stylesheet" href="./dist/css/app.css">
</head>
<body>

    <div id="app">

        <!-- Site header -->
        <header id="site_header">

            <!-- Top banner -->
            <div class="banner py-3">
                <div class="container d-flex align-items-center justify-content-between">
                    <span>We have a 95% Successful Pass Rate!</span>
                    <div>
                        <i class="fas fa-phone mr-2"></i>
                        <span>Give us a call to book your tuition! 1-800-555-555</span>
                    </div>
                </div>
            </div>
            <!-- /Top banner -->
    
            <!-- navbar -->
            <nav>
                <div class="container d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <img src="./dist/img/avada-drivers-logo-1x.png" alt="">
                    </div>
        
                    <div class="links">
                        <!-- from Vue js -->
                        <a
                            v-for="link in navLinks"
                            :href="link.link"
                            :class="[link.type === 'button' ? 'btn_solid rounded-pill' : '',
                            link.status === 'active' ? 'active' : ''] ">
                            {{link.name}}
                            <span
                                class="new ml-1" 
                                v-if="link.create === 'new' ">
                                New
                            </span>
                        </a>
                    </div>
                </div>
            </nav>
             <!-- /navbar -->
    
            <div class="jumbotron py-0">
                 
                <div class="container">
                    <h1>
                         Drive with Avada
                    </h1>
                    <p>
                         We offer the finest driving tuition money can buy
                    </p>

                </div>
            </div>
        </header>
        <!-- /Site header -->
    
        <!-- Site main -->
        <main id="site_main">
            <!-- Form first lesson -->
            <section class="booking py-5">
                <div class="container d-flex">
                    <div class="col_left w-50">
                        <h2>Get Behind The Wheel</h2>
                        <p class="p_main pt-4">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe commodi eius itaque id deleniti alias a facere, labore eos veritatis!
                        </p>
                        <p class="pt-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quisquam illo pariatur eos repudiandae. Quos explicabo nisi magni veritatis excepturi nulla aliquam impedit quam vel, officiis iure atque perferendis nemo aspernatur repellat reprehenderit, doloremque porro consequatur iusto, quae quis incidunt. Enim nobis numquam, autem molestias repellendus ipsum incidunt.
                        </p>
                    </div>
                    <div class="form w-50 pl-5">
                        <div class="card_form shadow-lg">
                            <h3>First Lesson Free!</h3>
                            <p class="py-4">
                                When you make a block booking with us your first lesson is included free.
                            </p>

                            <!-- Add input from Vue js -->
                            <input type="text" placeholder="Your Name*">

                            <div class="button pt-4">
                                <a class="btn_solid rounded-pill" href="#">Request a callback</a>
                            </div>
                        </div>
    
                    </div>
                </div>
            </section>
            <!-- /Form first lesson -->
    
             <!-- Start learning -->
             <section class="learning">
                 <div class="container d-flex align-items-center">
                     <div class="col_left w-50 d-flex flex-column justify-content-center">
                         <h2>Start Learning to Drive Today</h2>
                         <p class="p_main">
                             Give us a call to schedule your first driving lesson
                         </p>
                     </div>
                     <div class="col_right w-50 text-right">
                        <i class="fas fa-phone"></i>
                        <span class="ml-3">1-800-555-555</span>
                     </div>
                 </div>
            </section>
            <!-- /Start learning -->
    
             <!-- Courses -->
             <section class="courses">
                <div class="container d-flex">

                    <!-- col left big card courses -->
                    <div class="col_left">
                        <div class="card shadow-lg">
                            <h2>Courses</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium dolorum saepe ut. Officia non sapiente similique. Consectetur perspiciatis.
                            </p>
                            <div class="button">
                                <a class="btn_solid rounded-pill" href="#">Course information</a>
                            </div>
                        </div>
                    </div>

                    <!-- col right 3 cards courses -->
                    <div class="col_right d-flex justify-content-between flex-wrap">
                        <!-- Add courses from Vue js -->
                        <div 
                        class="card"
                        v-for="course in courses">
                            <img :src="'./dist/img/'+ course.img" alt="">
                            <h4 class="mt-4 mb-3">{{course.name}}</h4>
                            <div class="button">
                                <a class="btn_outline rounded-pill" :href="course.link">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /Courses -->

            <!-- Rate cards -->
            <div class="rate_cards">
                <div class="container d-flex">
                    <div class="card d-flex flex-column align-items-center py-5 shadow-lg">
                        <div class="progress_circle">
                            <!-- Circular progress bar -->
                            <div class="circular">
                                <div class="inner"></div>
                                <div class="number">95%</div>
                                <div class="circle">
                                  <div class="bar left">
                                    <div class="progress"></div>
                                  </div>
                                  <div class="bar right">
                                    <div class="progress"></div>
                                  </div>
                                </div>
                            </div>
                            
                        </div>
                        <h5 class="mt-5">Pass rate</h5>
                    </div>
                    <div class="card mx-3 d-flex flex-column align-items-center py-5 shadow-lg">
                        <div class="progress_circle">
                            <!-- Circular progress bar -->
                            <div class="circular">
                                <div class="inner"></div>
                                <div class="number">100%</div>
                                <div class="circle">
                                  <div class="bar left">
                                    <div class="progress"></div>
                                  </div>
                                  <div class="bar right">
                                    <div class="progress"></div>
                                  </div>
                                </div>
                            </div>
                            
                        </div>
                        <h5 class="mt-5">Pass rate</h5>
                    </div>

                    <div class="card d-flex flex-column align-items-center py-5 shadow-lg">
                        <div class="progress_circle">
                            <!-- Circular progress bar -->
                            <div class="circular">
                                <div class="inner"></div>
                                <div class="number">0%</div>
                                <div class="circle">
                                  <div class="bar left">
                                    <div class="progress"></div>
                                  </div>
                                  <div class="bar right">
                                    <div class="progress"></div>
                                  </div>
                                </div>
                            </div>
                            
                        </div>
                        <h5 class="mt-5">Pass rate</h5>
                    </div>
                </div>
            </div>
            <!-- /Rate cards -->
    
            <!-- Instructors -->
            <section class="instructors">
                <div class="container">
                    <div class="d-flex align-items-center">
                        <div class="col_left">
                            <h2>Your Instructors</h2>
                            <p class="p_main">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam adipisci maiores natus voluptatem minima voluptas ut neque</p>
                        </div>
                        <div class="col_right pl-5">
                            <div class="button">
                                <a class="btn_solid_lg rounded-pill" href="#">More about us</a>
                            </div>
                        </div>
                    </div>
                    <div class="cards_instructors w-100 d-flex">
                        <!-- Add frome Vue js -->
                        <div v-for="(instructor, index) in instructors"
                        :class="index === 1 ? 'mx-3 card_ctr' : ''" 
                        class="card d-flex flex-column align-items-center shadow-lg">
                            <div class="image mb-4">
                                <img 
                                class="w-100" 
                                :src="'./dist/img/' + instructor.img" 
                                alt="">
                            </div>
                            <h3>{{instructor.name}} {{instructor.surname}}</h3>
                            <div class="social_icons py-2">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                            <div class="summary text-center">
                                <p>
                                   {{instructor.summary}}
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!-- /Instructors -->
    
            <!-- Testimonials -->
            <section class="testimonials">
                <div class="container_sm">
                    <h2>Testimonials</h2>
                    <p class="p_main">
                        Here's what our happy drivers had to say about services:
                    </p>
                    <div class="card_testimonial">
                        <img width="140px" src="./dist/img/testimonial-sophia.png" alt="">
                        <p>
                            Avada Driving School really helped build my confidence behind the wheel and with driving in general, and they got me a first time pass! Highly recomended.
                        </p>
                        <div class="name">
                            Sophia Jones
                        </div>
                        <div class="slide_indicator">
                            <i class="fas fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /Testimonials -->
    
            <!-- Latest news -->
            <section class="news">
                <div class="container">

                    <div class="card_news_lg">

                        <div class="news_section shadow-lg"> 

                            <h2 class="mb-5">
                                Latest News
                            </h2>
                            <div class="cards d-flex">

                                <div class="card_new">

                                    <img src="./dist/img/blog-choosecar-700x441.jpg" alt="">

                                    <h4>What Car to Start With?</h4>

                                    <div class="date"> 
                                        <span>February 7th, 2019 |</span>
                                        <span class="comments"> 0 Comments</span>
                                    </div>

                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing.
                                    </p>
                                </div>

                                <div class="card_new">

                                    <img src="./dist/img/blogpost-10and2-700x441.jpg" alt="">

                                    <h4>Avada Driving School Expanding</h4>

                                    <div class="date">
                                        <span>February 7th, 2019 |</span>
                                        <span class="comments"> 0 Comments</span>
                                    </div>

                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing.
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="button">
                                <a class="btn_solid rounded-pill" href="#">More from the blog</a>
                            </div>
                        </div>
                        <div class="background_bottom">

                        </div>
                    </div>
                </div>
            </section>
            <!-- /Latest news -->
    
            <!-- Newsletter -->
            <section class="newsletter">
    
            </section>
            <!-- /Newsletter -->
    
        </main>
        <!-- /Site main -->
    
        <!-- Site footer -->
        <footer id="site_footer">
    
        </footer>
        <!-- /Site footer -->

    </div>




    <!-- CDN Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <!-- app.js -->
    <script src="./dist/js/app.js"></script>
</body>
</html>