<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avada Driving School</title>

     <!-- Fontawesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

     <!-- Bootstrap -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
 
    <!-- app.css -->
    <link rel="stylesheet" href="./dist/css/app.css">
</head>
<body>

    <div id="app">

        <!-- Site header -->
        <header id="site_header">
    
            <!-- Top banner -->
            <div class="banner py-3">
                <div class="container d-flex align-items-center justify-content-between">
                    <span>We have a 95% Successful Pass Rate!</span>
                    <div>
                        <i class="fas fa-phone mr-2"></i>
                        <span>Give us a call to book your tuition! 1-800-555-555</span>
                    </div>
                </div>
            </div>
            <!-- /Top banner -->
    
            <!-- navbar -->
            <nav>
                <div class="container d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <img src="./dist/img/avada-drivers-logo-1x.png" alt="">
                    </div>
        
                    <div class="links">
                        <!-- from Vue js -->
                        <a
                            v-for="link in navLinks"
                            :href="link.link"
                            :class="link.type === 'button' ? 'btn_solid rounded-pill' : '' ">
                            {{link.name}}
                            <span
                                class="new ml-1" 
                                v-if="link.create === 'new' ">
                                New
                            </span>
                        </a>
                    </div>
                </div>
            </nav>
             <!-- /navbar -->
    
             <div class="jumbo">
                
             </div>
        </header>
        <!-- /Site header -->
    
        <!-- Site main -->
        <main id="site_main">
            <!-- Form first lesson -->
            <section class="form">
    
            </section>
            <!-- /Form first lesson -->
    
             <!-- Start learning -->
             <section class="start_learning">
    
            </section>
            <!-- /Start learning -->
    
             <!-- Courses -->
             <section class="courses">
    
            </section>
            <!-- /Courses -->
    
            <!-- Instructors -->
            <section class="instructors">
    
            </section>
            <!-- /Instructors -->
    
            <!-- Testimonials -->
            <section class="testimonials">
    
            </section>
            <!-- /Testimonials -->
    
            <!-- Latest news -->
            <section class="news">
    
            </section>
            <!-- /Latest news -->
    
            <!-- Newsletter -->
            <section class="newsletter">
    
            </section>
            <!-- /Newsletter -->
    
        </main>
        <!-- /Site main -->
    
        <!-- Site footer -->
        <footer id="site_footer">
    
        </footer>
        <!-- /Site footer -->

    </div>




    <!-- CDN Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <!-- app.js -->
    <script src="./dist/js/app.js"></script>
</body>
</html>