/******************
* Site header css 
*******************/

/* Banner css */
#site_header {
  .banner {
    color: #929aa3;
    background-color: #353637;
    font-size: $font_size_s;
    font-weight: 200;
  }
}

//For nav section create new partial
