/******************
* Site header css 
*******************/

/* Banner css */
#site_header {
  .banner {
    color: #e5e8eb;
    background-color: #484848;
    font-size: $font_size_s;
    font-weight: 200;
  }
}
