/*************************
* Site main css 
*************************/

/* Booking section css */
#site_main {
  .booking {
    color: $text_color_primary;
    .form {
      position: relative;
      .card_form {
        background-color: white;
        text-align: center;
        border-radius: 10px;
        padding: 3rem 2.5rem;
        position: absolute;
        top: -120px;
        right: 0;
        width: 90%;
        h3 {
          color: $brend_color;
        }
        input {
          width: 100%;
          padding: 10px;
          border-radius: 5px;
          font-size: 0.9rem;
          color: $text_color_primary;
          border: 1px solid #dddddd;
          background-color: #f7f7f7;
          &::placeholder {
            color: $text_color_primary;
          }
        }
        .button {
          .btn_solid {
            @include btn_solid;
            display: inline-block;
            color: white;
            text-transform: uppercase;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
