/* Latest news section css */
#site_main {
  .news {
    background-image: url(../img/latestnews-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .container {
      position: relative;
      height: 850px;
      .card_news_lg {
        position: absolute;
        top: -40px;
        left: 0;
        .news_section {
          background-color: white;
          text-align: center;
          padding: 4rem 3.5rem 0;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-top: 5px solid #7799ad;
          .cards {
            .card_new {
              width: 50%;
              margin: 15px;
              img {
                width: 100%;
                margin-bottom: 1rem;
              }
              h4 {
                color: $brend_color;
              }
              .date {
                font-size: 0.8rem;
                font-weight: 200;
                color: $text_color_primary;
                .comments {
                  color: $brend_color;
                }
              }
              p {
                color: $text_color_primary;
                margin-top: 1rem;
              }
            }
          }
          .button {
            margin-top: 3rem;
            .btn_solid {
              @include btn_solid;
              color: white;
              text-transform: uppercase;
              display: inline-block;
            }
          }
        }
        .background_bottom {
          height: 100px;
          background-image: url(../img/latestnews-bottom.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
