/* Latest news section css */
#site_main {
  .news {
    background-image: url(../img/latestnews-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container {
    .card_news_lg {
      .news_section {
      }
    }
  }
}
