@mixin btn_solid {
  padding: 10px 25px;
  background-color: $brend_color;
  font-weight: 700;
  font-size: 0.9rem;
}

@mixin btn_outline {
  padding: 6px 16px;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $color_courses_section;
  border: 3px solid $color_courses_section;
  display: inline-block;
  &:hover {
    text-decoration: none;
    color: $brend_color;
    border: 3px solid $brend_color;
  }
}

@mixin p_main {
  font-size: $font_size_l;
  line-height: 2.4rem;
}
