/* navbar */
#site_header {
  nav {
    background-color: #484848;
    padding: 2.5rem 0;
    .links {
      text-transform: uppercase;
      font-weight: 700;
      a {
        color: white;
      }
    }
  }
}
